<div>
    <h4>{{ entity.nombre }}</h4>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, commodi consequatur error est et natus qui sit? Adipisci architecto beatae dolores facilis harum, impedit, nemo, nihil repudiandae sit ut vero?</p>
</div>