{% extends '::base.html.twig' %}

{% block content -%}
    <h1>POI edit</h1>

    {{ form(edit_form) }}


    <a href="{{ path('poi') }}" class="btn btn-primary"> Listado</a>
    {{ form(delete_form) }}

</ul>
{% endblock %}
