{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Adicionar nuevo Punto de Interés</h1>


    {{ form_errors(form) }}
    {{ form(form) }}

    <a href="{{ path('poi') }}">
        Back to the list
    </a>
{% endblock %}
