{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Etiqueta</h1>

    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div role="group">
        <a href="{{ path('etiqueta') }}" class="btn btn-default btn-md"><i class="fa fa-list"></i> Listado</a>
        <a href="{{ path('etiqueta_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-md"><i class="fa fa-edit"></i> Editar</a>
    </div>
{% endblock %}
